<h2>Login Candidato</h2>

<form method="post">
    <input type="email" name="email" placeholder="E-mail" required />
    <input type="password" name="senha" placeholder="Senha" required />
    <button class="btn primary" type="submit">Entrar</button>
</form>
