@{
    ViewData["Title"] = "Login";
}

<h2>Como deseja entrar?</h2>

<a asp-controller="Auth" asp-action="LoginEmpresa" class="btn primary">Sou Empresa</a>
<a asp-controller="Auth" asp-action="LoginCandidato" class="btn secondary">Sou Candidato</a>


