@{
    ViewData["Title"] = "Cadastro";
}

<h2>Como deseja se cadastrar?</h2>

<a href="/Auth/RegisterEmpresa" class="btn primary">Sou Empresa</a>
<a href="/Auth/RegisterCandidato" class="btn secondary">Sou Candidato</a>
