<h2>Cadastro Empresa</h2>

<form method="post">
    <input type="text" name="nome" placeholder="Nome da Empresa" required />
    <input type="email" name="email" placeholder="E-mail" required />
    <input type="password" name="senha" placeholder="Senha" required />
    <button class="btn primary" type="submit">Cadastrar</button>
</form>
