@model IEnumerable<projetoJobs.Models.Empresa>

<div class="container mt-4">
    <h2>Empresas</h2>
    <a href="/Empresas/Criar" class="btn btn-primary mb-3">Nova Empresa</a>

    <table class="table table-bordered">
        <tr>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Nome</td>
                <td>@e.Email</td>
            </tr>
        }
    </table>
</div>
