@model List<projetoJobs.Models.Candidato>

<h2>Candidatos Cadastrados</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Nome</td>
                <td>@c.Email</td>
                <td>@c.Telefone</td>
            </tr>
        }
    </tbody>
</table>
